
<div class="jumbotron">
  <h1>Історія заправок, розхід машини, все в одному місці</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="<%= user_facebook_omniauth_authorize_path %>" role="button">Увійти через FB</a></p>
</div>
